@font-face {
    font-family: 'Kalnia';
    src: url('/assets/Kalnia/Kalnia-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('/assets/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
    font-family: "Roboto", serif;
    /* font-family: "Kalnia", serif; */
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a {
    text-decoration: none !important;
}

body {
    /* font-family: "Kalnia", serif; */
    font-family: "Roboto", serif;
    background: #151515;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    color: #ffffff;
}

.font-roboto {
    font-family: "Roboto", serif !important;
}

.font-Kalnia {
    font-family: "Kalnia", serif !important;
}

.swiper {
    width: 100%;
    height: 100%;
}

/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 70px;
    position: fixed;
    /* left: 0;
    top: 0;
    right: 0; */
    width: 100%;
    transition: all 0.5s;
    z-index: 997;
    background: #151515;
}

/* #header.header-scrolled,
#header.header-inner {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
} */

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

@media (max-width: 992px) {
    #header #logo img {
        max-height: 30px;
    }
}

/*--------------------------------------------------------------
  # Buy Token
  --------------------------------------------------------------*/
.buy-tickets {
    color: #ffffff;
    background: #FA2A24;
    padding: 5px 20px;
    margin: 0 0 0 15px;
    border-radius: 8px;
    border: 2px solid #FA2A24;
    transition: all ease-in-out 0.3s;
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    white-space: nowrap;
}

.buy-tickets:hover {
    background: none;
    color: #fff;
}

.buy-tickets:focus {
    color: #fff;
}

@media (max-width: 992px) {
    .buy-tickets {
        margin: 0 15px 0 0;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 50px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    padding: 6px 8px;
}

.navbar .active {
    border-bottom: 2px solid #FFFFFF;
    border-radius: 8px;
}


.navbar a:hover,
.navbar .active:focus,
.navbar li:hover>a {
    background-color: #B2B2B2;
    border-radius: 4px;
}

.nav-container {
    height: 4rem;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #191919;
}


/* #nav-container.nav-container-scrolled,
#nav-container.nav-container-inner {
    background: rgba(6, 12, 34, 0.98);
    height: 55px;
} */

.nav-container .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000;
}

.nav-container .logo img {
    width: 5rem;
    animation: swing 5s ease-in-out infinite;
    transform-origin: center top;
    /* margin-right: 8px; */
}

.nav-container .icon-links {
    display: flex;
    gap: 15px;
}

.nav-container .icon-links img {
    width: 15px;
    height: 15px;
}

.nav-container .menu-toggle {
    font-size: 25px;
    cursor: pointer;
}

.nav-container .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
}

.nav-container .mobile-menu ul {
    list-style: none;
}

.nav-container .mobile-menu ul li {
    margin: 10px 0;
}

.nav-container .mobile-menu ul li a {
    color: white;
    text-decoration: none;
}

/* =============Hero Section============ */

.hero {
    background-color: #F4F0F0;
    height: 100vh;
    width: 100%;
}

.hero .carousel-item img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
}

.hero .carousel-item img {
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}



.hero .content .title h2 {
    color: #FFE4AE;
    font-size: 2.3rem;
    font-family: "Kalnia", serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.hero .content p {
    margin-top: 10px;
    font-family: "Kalnia", serif;
    font-size: 1.15rem;
    color: #FFE4AE;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}



/* Highlight the active dot */
.hero .carousel-indicators .active {
    background-color: #EEB5B8;
}

@media (min-width:768px) {
    .hero .content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateY(-50%);
        transform: translateX(-50%);
        z-index: 2;
    }
}

@media (max-width: 767px) {

    .hero {
        height: 70vh;
    }

    .hero .content {
        position: absolute;
        top: 40%;
        width: 100%;
        padding: 0 15px;
        z-index: 2;
    }

    .hero .content .title {
        width: 100%;
        
    }
    .hero .content .title h2 {
        font-size: 24px;
        white-space: wrap;
        margin-bottom: 10px;
    }

    .hero .content p {
        white-space: wrap;
        font-size: 0.875rem;
    }

    .hero .carousel-item img {
        height: 70vh;
    }

}

.collection {
    padding: 1rem 0;
}


.collection .content {
    position: relative;
    z-index: 1;
}

.collection .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/hero.png) center/cover no-repeat;
    opacity: 0.3;
    /* Dim effect */
    z-index: -1;
}


/* Slider Container */
.slider {
    width: 100%;
}

/* Each Slide */
.slider div {
    position: relative;
    outline: none;
    padding: 0 5px;
    width: 100%;
}



.slider img {
    width: 100%;
    height: 26.25rem;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
}

/* Default scale for all slides */
.slick-slide {
    opacity: 0.6;
    transform: scale(0.75);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* The center (active) slide – Slick adds .slick-center */
.slick-center {
    opacity: 1;
    transform: scale(1.3);
    z-index: 2;
    /* Bring to front */
}

@media (max-width: 767px) {
    .slider img {
        height: 14.25rem;
        width: 100%;
    }

    .slick-slide {
        transform: scale(0.45);
        width: 100%;
    }

    .slick-center {
        transform: scale(2.2);
    }
}


.buy {
    background-image: linear-gradient(to right, #F3A240, #D13021);
}

.buy .heading {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Kalnia", serif;
    margin-bottom: 0.8rem;
    width: fit-content;
    text-shadow: 0px -2px black,
        -2px 0px black,
        2px 0px black,
        2px 2px black,
        0px 2px black;
}

@media (max-width: 767px) {
    .buy .heading {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0;
    }
}


.buy .title {
    color: #D4D3D3;
    font-size: 1.5rem;
    font-family: "Kalnia", serif;
    font-weight: 600;
    margin-bottom: 0.8rem;
    text-shadow: 0px -2px black,
        -2px 0px black,
        2px 0px black,
        2px 2px black,
        0px 2px black;
}


/* footer */
.footer {
    padding: 3.6rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    overflow: hidden;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer ul li {
    white-space: nowrap;
    padding: 0px 0 10px 0px;
}

.footer ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    padding: 6px 22px;
    /* text-transform: uppercase; */
}

.footer ul>li>a:hover {
    color: #B2B2B2;
}

@media (max-width:768px) {
    /* footer */

    .footer {
        padding: 1.6rem 0 2rem;
        gap: 1.5rem;
        overflow: hidden;
    }

    .footer ul li {
        /* white-space: nowrap; */
        padding: 0;
        text-align: center;
    }


    .footer ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer ul li a {
        display: flex;
        font-size: 13px;
        padding: 6px 5px;
        align-items: center;
        text-transform: uppercase;
       justify-content: center;
    }
}

/* =============About Page ============ */

.about {
    padding-top: 6rem;
}

.about .roadmap {
    margin-top: 3rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

.about .content {
    /* height: 23.9rem; */
    height: 100%;
}

.about .title-container {
    height: 60px;
    margin-bottom: 0.7rem;
}

.about .title {
    color: #151515;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #FFAE0D;
    /* margin-bottom: 1rem; */
    padding: 0.5rem;
    font-family: "Roboto";
}

.about .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.about .item p {
    color: #151515;
    font-size: 0.875rem;
    font-family: "Roboto", serif;
}

@media (max-width:767px) {
    .about {
        padding-top: 5rem;
    }
    /* .about .content {
        height: 24.9rem;
    } */

    .about .title {
        font-size: 1rem;
    }
    /* .about .title-container {
        height: 60px;
        margin-bottom: 0.7rem;
    } */
}


.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* margin-right: 12px; */
}


.cta {
    padding: 2.2rem 0;
}

.cta h2{
    font-size: 2.3rem;
    color: #FFFFFF;
    font-family: "Roboto", serif;
    /* margin: 1.5rem 0; */
}

.cta .item {
    font-size: 1rem;
    color: #FFFFFF;
    font-family: "Roboto", serif;
    line-height: 1.5rem;
    margin: 1rem 0 1rem;
}

.cta .join {
    font-size: 1.3rem;
    color: #FFFFFF;
    font-family: "Roboto", serif;
}

@media (max-width:767px) {
    .cta h2{
        font-size: 1.5rem;
    }
    .cta .join {
        font-size: 1rem;
    }
    .cta .item {
        font-size: 0.875rem;
        line-height: 1.3rem;
    }
}